p {
    color: red;
}
img {
    height: 50px;
}
body {
    font-family: sans-serif;
}
header {
    display: flex;
    background-color: coral;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    border-style:outset;
}